<meta name="pdfjs_viewer_verbosity" content="<%= ENV.fetch("PDFJS_VIEWER_VERBOSITY", "errors") %>">
<title><%= title %></title>

<%= stylesheet_link_tag "pdfjs_viewer/application", media: "all" %>

<!-- This snippet is used in production (included from viewer.html) -->
<link rel="resource" type="application/l10n" href="/pdfjs/web/locale/locale.json">

<% if local_assigns[:pdf_url] %>
  <script type="text/javascript">
    window.resourceURL = "<%= pdf_url %>";
  </script>
<% end %>

<script src="/pdfjs/web/pdf.mjs" type="module"></script>
<script src="/pdfjs/web/viewer.mjs" type="module"></script>

<%= javascript_include_tag "pdfjs_viewer/application" %>
